# Default ignored files
/shelf/
/workspace.xml

# файлы созданные PyCharm
.idea/
External Libraries/
Scrarches and Consoles/

# кеш
_pycache_
*.py[cod]

# временные файлы
*.log
*.pot
*.pyc
*~

# игнорировать виртуальную среду PyCharm
.venv/

# папки и файлы приложения
/.gitignore
/bd_mailer.db
